@media (max-width: 640px) {
  html {
    font-size: 70%;
  }

  .header {
    &__logo {
      width: 70%;
    }
  }

  .cta {
    &__btn {
      &--yellow {
        width: 100%;
      }

      &--outline {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 445px) {
  .carousel {
    display: none;
  }
}
